<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar  class="example-toolbar">
    <ng-template *ngIf="isMobile(); then bloccoIf else bloccoElse"> //*ngIf="isAuthenticated()"// </ng-template>
    <ng-template #bloccoIf>
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    </ng-template>
    <ng-template #bloccoElse>
      <ul id="menu">
        <mat-list-item routerLink="home" [routerLinkActive]="'active'">HomePage</mat-list-item>
        <mat-list-item routerLink="privacy" [routerLinkActive]="'active'">Privacy</mat-list-item>
        <mat-list-item routerLink="supporto" [routerLinkActive]="'active'">Supporto</mat-list-item>
        <mat-list-item routerLink="chi-siamo" [routerLinkActive]="'active'">Chi Siamo</mat-list-item>
      </ul>
    </ng-template>

    <!-- <button mat-icon-button (click)="snav.toggle()" ><mat-icon>menu</mat-icon></button> -->

    <!--<h1 class="example-app-name">Immobiliare</h1> -->

    <span class="example-spacer"></span>

    <!--<ng-template *ngIf="isMobile()"; then bloccoIf else bloccoElse"> //*ngIf="isAuthenticated()"// </ng-template>
    <ng-template #bloccoIf>
      <button mat-icon-button role="listitem" routerLink="login" [routerLinkActive]="'active'"><mat-icon>account_circle</mat-icon></button>
    </ng-template>
    <ng-template #bloccoElse>
      <button mat-icon-button role="listitem" routerLink="profilo" [routerLinkActive]="'active'"><mat-icon>account_circle</mat-icon></button>
    </ng-template>-->
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>login</mat-icon>
        <span routerLink="login" [routerLinkActive]="'active'">Accedi</span>
      </button>
      <button mat-menu-item>
        <mat-icon>app_registration</mat-icon>
        <span routerLink="registrazione" [routerLinkActive]="'active'">Registrati</span>
      </button>
      <button mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span routerLink="profilo" [routerLinkActive]="'active'">Profilo</span>
      </button>
      <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span routerLink="" [routerLinkActive]="'active'">Esci</span>
      </button>
    </mat-menu>

  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list class="lista-navbar">
        <mat-list-item role="listitem" routerLink="home" [routerLinkActive]="'active'"><strong><mat-icon>home</mat-icon>HomePage</strong></mat-list-item>
        <mat-list-item role="listitem" routerLink="privacy" [routerLinkActive]="'active'"><strong><mat-icon>security</mat-icon>Privacy</strong></mat-list-item>
        <mat-list-item role="listitem" routerLink="supporto" [routerLinkActive]="'active'"><strong><mat-icon>help</mat-icon>Supporto</strong></mat-list-item>
        <mat-list-item role="listitem" routerLink="chi-siamo" [routerLinkActive]="'active'"><strong><mat-icon>info</mat-icon>Chi siamo</strong></mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet><!--Contenuto dinamico-->
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
