<div class="main-container">
  <mat-toolbar class="main-toolbar">
    <ng-template *ngIf="Mobile(); then bloccoIf else bloccoElse"></ng-template>
    <ng-template #bloccoIf>
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </ng-template>
    <ng-template #bloccoElse>
      <ul class="menu">
        <mat-list-item routerLink="home" [routerLinkActive]="'active'">HomePage</mat-list-item>
        <mat-list-item routerLink="privacy" [routerLinkActive]="'active'">Privacy</mat-list-item>
        <mat-list-item routerLink="supporto" [routerLinkActive]="'active'">Supporto</mat-list-item>
        <mat-list-item routerLink="chi-siamo" [routerLinkActive]="'active'">Chi siamo</mat-list-item>
      </ul>
    </ng-template>

    <span class="profile-icon-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item onClick="window.open('http://localhost:8080/Login.html','_self')" *ngIf="!this.auth.isLoggedIn">
        <mat-icon>login</mat-icon>
        <a>Login</a>
      </button>
      <button mat-menu-item onClick="window.open('http://localhost:8080/Registrazione.html','_self')" *ngIf="!this.auth.isLoggedIn">
        <mat-icon>app_registration</mat-icon>
        <a>Registrati</a>
      </button>
      <button mat-menu-item *ngIf="this.auth.isLoggedIn" routerLink="profilo">
        <mat-icon>account_circle</mat-icon>
        <span>Profilo</span>
      </button>
      <button mat-menu-item *ngIf="this.auth.isLoggedIn && !this.auth.isBuyer()" routerLink="aggiungi-annuncio">
        <mat-icon>plus_one</mat-icon>
        <span>Aggiungi annuncio</span>
      </button>
      <button mat-menu-item *ngIf="this.auth.isLoggedIn && this.auth.isAdmin()" routerLink="admin-cpl">
        <mat-icon>star_half</mat-icon>
        <span>Pannello di controllo</span>
      </button>
      <button mat-menu-item *ngIf="this.auth.isLoggedIn" (click)="this.auth.logout()" routerLink="home">
        <mat-icon>logout</mat-icon>
        <span>Esci</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="over" [opened]="false">
      <mat-nav-list>
        <mat-list-item role="listitem" routerLink="home" (click)="toggleSidenav()"><mat-icon>home</mat-icon>HomePage</mat-list-item>
        <mat-list-item role="listitem" routerLink="privacy" (click)="toggleSidenav()"><mat-icon>security</mat-icon>Privacy</mat-list-item>
        <mat-list-item role="listitem" routerLink="supporto" (click)="toggleSidenav()"><mat-icon>help</mat-icon>Supporto</mat-list-item>
        <mat-list-item role="listitem" routerLink="chi-siamo" (click)="toggleSidenav()"><mat-icon>info</mat-icon>Chi siamo</mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
