* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.background {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex; /* Added */
  justify-content: center; /* Added */
  align-items: center; /* Added */
}

.background::before {
  content: "";
  background-image: url("src/assets/background.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blur-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.container {
  position: relative;
  z-index: 1;
  max-width: 500px; /* Updated */
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 30px; /* Updated */
  margin: 20px auto;
}

.AddImmobileForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
}

.AddImmobileForm input,
.AddImmobileForm textarea,
.AddImmobileForm select {
  justify-content: center;
  align-items: center;
  align-content: center;
  display: block;
  width: 100%;
  padding: 10px;
  max-width: 100%;
  min-width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.AddImmobileForm textarea {
  min-height: 60px;
  max-height: 100px;
}

.AddImmobileForm button {
  margin-top: 10px;
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.AddImmobileForm select {
  color: #757575;
}

.address-fields {
  display: flex;
  flex-direction: column;
  
}

.address-row {
  padding-top: 10px;
  display: flex;
  gap: 10%;
  max-width: 31.23%;
}

.loginTitle {
  text-align: center;
}

@media (max-width: 480px) {
  .container {
    padding: 15px;
  }
}
