<!--IMMOBILE-->
<div class="box-article">
  <div class="bordo">

    <div class="titolo">
    <h1>{{immobile.nome}}</h1>
    <h4>Tipologia: {{immobile.tipo}}</h4>
    </div>

    <div class="article">
      <img src="assets/background.jpg">
      
      <div class="testo">
        <p>Posizione: {{immobile.indirizzo}}</p>
        <p>Prezzo: {{immobile.prezzo}} €</p>
        <p>Superficie: {{immobile.metri_quadri}} mq </p>
        <p>Tipo: {{immobile.tipo_annuncio}}</p>
        <h1>Descrizione:</h1>
        <p>{{immobile.descrizione}}</p>
      </div> 

    </div>
  </div>
</div>

<!--Recensioni-->
<div class="box-article">
  <div class="bordo">
    <h1>Recensioni:</h1>

  </div>
</div>
<!--
<div class="box-article">
  <div class="bordo" *ngFor="let rec of recensioni">
    <h1>Recensioni:</h1>
    <p>{{rec.rating}}</p> ERRORE BACKEND recensione deve cercare sull'id dell'immobile non sulla chiave primaria

  </div>
</div>
-->

<!--Proprietario-->
<div class="box-article">
  <div class="bordo">

    <div class="titolo" (click)="visualizzaUtente(utente.id)">
    <h1>Venditore:</h1>
    <p>{{utente.nome}} {{utente.cognome}}</p>
    <p>Ruolo: {{utente.tipologia}}</p>
    <h1>Contatti:</h1>
    <p>Email: {{utente.email}}</p>
    <p>Telefono: {{utente.telefono}}</p>

    <button onclick="visualizzaUtente(utente.id)" mat-fab extended>Visualizza Venditore</button>

  </div>
</div>