.bordo { display: block; border: 1px solid #ccc; margin: 20px; padding: 30px; border-radius: 0.5rem; position: relative; /*relative serve per il bottone*/}

.article {  display: flex; align-items: flex-start; }  
.article img { width: 600px; max-width: 50%;}
.article .testo { margin-left: 40px; }
  
/* Quando la pagina viene ridotta */
@media (max-width: 768px) {
    .article { flex-wrap: wrap; }
    .article img { max-width: 100%; } 
    .article .testo { margin-left: 0px; margin-top: 20px; }
}

.bordo button { position: absolute; top: 0; right: 0; margin: 15px; background-color: white; color:#259be2; }

.bordo-recensione {  }