
<body>
  <ng-template *ngIf="!isMobile(); then bloccoIf else bloccoElse"> //*ngIf="isAuthenticated()"// </ng-template>
      <ng-template #bloccoIf style="max-width: 680px;">
        <mat-card class="cards">
          <mat-card-header>
            <img mat-card-avatar src="{{casa.immagine}}" alt="Foto di una casa">
            <mat-card-title>{{casa.nome}}</mat-card-title>
            <mat-card-subtitle>{{casa.regione}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="{{casa.immagine}}" alt="Foto di una casa">
          <mat-card-content>
            <p>
              <span>Nome:</span> <br>
              {{casa.nome}}
            </p>
            <p>
              <span>Tipo:</span> <br>
              {{casa.tipo}}
            </p>
            <p>
              <span>Prezzo:</span> <br>
              {{casa.prezzo}} €
            </p>
            <p>
              <span>Descrizione:</span> <br>
              {{casa.descrizione}}
            </p>
            <p>
              <span>Metri Quadri:</span> <br>
              {{casa.mq}}
            </p>
            <p>
              <span>Indirizzo:</span> <br>
              {{casa.indirizzo}}
            </p>
            <p>
              <span>Proprietario:</span> <br>
              {{casa.proprietario}}
            </p>
            <p>
              <span>Telefono:</span> <br>
              {{persona.tel}}
            </p>
            <p>
              <span>Email:</span> <br>
              {{persona.email}}
            </p>
            <p>
              <span>Tipo Annuncio:</span> <br>
              {{casa.ta}}
            </p>
          </mat-card-content>
        </mat-card>
      </ng-template>
      <ng-template #bloccoElse style="max-width: 360px;">
        <mat-card class="cards">
          <mat-card-header>
            <img mat-card-avatar src="{{casa.immagine}}" alt="Foto di una casa">
            <mat-card-title>{{casa.nome}}</mat-card-title>
            <mat-card-subtitle>{{casa.regione}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="{{casa.immagine}}" alt="Foto di una casa">
          <mat-card-content>
            <p>
              <span>Nome:</span> <br>
              {{casa.nome}}
            </p>
            <p>
              <span>Tipo:</span> <br>
              {{casa.tipo}}
            </p>
            <p>
              <span>Prezzo:</span> <br>
              {{casa.prezzo}} €
            </p>
            <p>
              <span>Descrizione:</span> <br>
              {{casa.descrizione}}
            </p>
            <p>
              <span>Metri Quadri:</span> <br>
              {{casa.mq}}
            </p>
            <p>
              <span>Indirizzo:</span> <br>
              {{casa.indirizzo}}
            </p>
            <p>
              <span>Proprietario:</span> <br>
              {{casa.proprietario}}
            </p>
            <p>
              <span>Telefono:</span> <br>
              {{persona.tel}}
            </p>
            <p>
              <span>Email:</span> <br>
              {{persona.email}}
            </p>
            <p>
              <span>Tipo Annuncio:</span> <br>
              {{casa.ta}}
            </p>
          </mat-card-content>
        </mat-card>
      </ng-template>
</body>

<!--
<p>work</p>
<p>{{prova}}</p>
-->
