.home{
  align-items: center;
  margin: 1%;
  display: relative;
}

.logo-container{
  width: 100%;
  text-align: center;
  /*background-image: url('src\assets\logo.jpg');
  background-repeat: no-repeat;
  background-size: center;*/

}

#logo{
  width: 50%;
  height: 50%;
}

.formRicerca {
  display: flex;
  width: 100%;
  /*text-align: center;
  justify-content: center;
  align-items: center;*/
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  /*padding: 1px;*/
}

.barra{
  width: 70%;
  padding-top: 20px;
  margin-left: 2%;
}



.bottone{
  margin-top: 21px;
}



/*.cards-container{
  background-color: aqua;
}*/

.mat-grid-list {
  display: flex;
  flex-wrap: wrap;
}

.cards {
  width: 100%;
}

.example-header-image {
  background-size: cover;
}


.ordina select { 
  align-items: end; 
  font-size: 20px;  
  background: white; 
  color:#2596be; 
  top: 10px; 
  right: 10px;

}


.filtri select{
  margin-top: 15%;
  margin-left: 10%;
  height: 30px;
  width: 100px;
  font-size: 20px;  
  background: white; 
  color:#2596be; 

}

.filtri{
  display: flex;
}







/*
.box-immobili{ display: inline-flex;  flex-wrap: wrap;}
.box-article{ padding-right: 20px;padding-bottom: 20px; }
.bordo {border: 1px solid #ccc; padding: 1rem; border-radius: 0.5rem; position: relative; width: 400px; height: 400px;}

img { justify-content: center; width: 100%;}

.bordo button { position: absolute; bottom: 0; right: 0; margin: 20px; background-color: white; color:#259be2; }
*/