.home {
  align-items: center;
  margin: 0%;
}

.initialText {
  color: white;
}

.logo-container {
  width: 100% auto;
  text-align: center;
  background-color: #259be2;
  padding: 20px;
}

#logo {
  width: 30%;
  height: auto;
}

.formRicerca {
  height: 13.5%;
  display: flex;
  justify-content: left;
  background-color: #259be2;
}

.filtri {
  color: white;
  margin-left: 11.5%;
}

.searchBar {
  width: 100%;
  margin-left: 11.5%;
  height: 10%;
}

.searchButton {
  z-index: 1;
  display: block;
  cursor: pointer;
  margin-right: 11.5%;
  margin-bottom: 22px;
  height: 56px;
  border: none;
  border-radius: 4px;
  background-color: #0d47a1;
  color: white;
  width: 80px;
}

.ricercaContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #259be2;
}

.tipoImmobileSelect,
.tipoAnnuncioSelect,
.tipoOrdinamentoSelect {
  background-color: transparent;
  color: white;
  border: none;
  width: 165px;
  height: 50px;
  margin-right: 25px;
}

.optionEntry {
  color: black;
}

.tipoImmobileSelect:focus,
.tipoAnnuncioSelect:focus,
.tipoOrdinamentoSelect:focus {
  outline: none;
}

.tipoOrdinamentoSelect {
  width: 100px !important;
}

.mat-grid-list {
  display: flex;
  flex-wrap: wrap;
}

.cards {
  width: 100%;
  border-radius: 20px;
  border: lightgray 1px solid !important;
}

.cards:hover {
  cursor: pointer;
  border: #259be2 2px solid !important;
}

.gridList {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.matCardImg {
  width: 95%;
  height: 100%;
  border-radius: 20px;
  align-self: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

mat-card-title,
mat-card-subtitle {
  margin-left: 20px;
}

mat-card-footer {
  margin-bottom: 10px;
}