<body class="home">
  <!--LOGO-->
  <div class="logo-container">
    <img id="logo" src='.\assets\logo.png' alt="Foto logo">
    <h1 class="initialText"><b><i>Comincia anche tu a Comprare e Vendere Immobili!</i></b></h1>
  </div>

  <div class="filtriRicercaContainer">
    <form class="filtri" class="formRicerca" [formGroup]="formFiltri" (ngSubmit)="onSubmit()">
      <div class="filtri">
        <select class="tipoImmobileSelect" formControlName="tipoImmobile" [(ngModel)]="tipoImmobileValue" (change)="tipoImmobileValueChange($event)" required>
          <option value="" selected disabled>Seleziona tipo immobile</option>
          <option class="optionEntry" value="Villa">Villa</option>
          <option class="optionEntry" value="Appartamento">Appartamento</option>
          <option class="optionEntry" value="Garage">Garage</option>
          <option class="optionEntry" value="Terreno">Terreno</option>
          <option class="optionEntry" value="Negozi">Negozi</option>
          <option class="optionEntry" value="Uffici">Uffici</option>
        </select>
        <select class="tipoAnnuncioSelect" formControlName="tipoAnnuncio" [(ngModel)]="tipoAnnuncioValue" (change)="tipoAnnuncioValueChange($event)" required>
          <option value="" disabled selected>Seleziona tipo annuncio</option>
          <option class="optionEntry" value="In_Vendita">In vendita</option>
          <option class="optionEntry" value="In_Affitto">In affitto</option>
          <option class="optionEntry" value="In_Asta">Asta</option>
        </select>
        <select class="tipoOrdinamentoSelect" formControlName="tipoOrdinamento" [(ngModel)]="tipoOrdinamentoValue" (change)="tipoOrdinamentoValueChange($event)" required>
          <option value="" disabled selected>Ordina per:</option>
          <option class="optionEntry" value="automatico">Automatico</option>
          <option class="optionEntry" value="più_costosi">Più costosi</option>
          <option class="optionEntry" value="meno_costosi">Meno costosi</option>
          <option class="optionEntry" value="più_grandi">Più grandi</option>
          <option class="optionEntry" value="meno_grandi">Meno grandi</option>
        </select>
      </div>
    </form>
  </div>

  <div class="ricercaContainer">
    <mat-form-field class="searchBar" formControlName="citta">
      <mat-label>Inserisci la città...</mat-label>
      <input matInput #message maxlength="256" placeholder="Es. Cosenza">
    </mat-form-field>
    <button class="searchButton" type="submit">
      Cerca
    </button>
  </div>

  <!--ANNUNCI-->
  <ng-template *ngIf="!Mobile(); then desktopView else mobileView"></ng-template>

  <ng-template #desktopView>
    <mat-grid-list [cols]="this.showOnly2Cols ? 2 : 3" gutterSize="20px" rowHeight="470px" class="gridList">
      <mat-grid-tile *ngFor="let imm of immobili" >
        <mat-card class="cards" (click)="OpenImmobile(imm.id)">
          <img mat-card-image [src]="this.images[imm.id]" class="matCardImg">
          <mat-card-footer>
            <mat-card-title>{{imm.nome}}</mat-card-title>
            <mat-card-subtitle>{{imm.indirizzo}}</mat-card-subtitle>
            <mat-card-title>{{imm.prezzo_attuale}}€</mat-card-title>
          </mat-card-footer>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </ng-template>

  <ng-template #mobileView>
    <mat-grid-list cols="1" rowHeight="360px" style="margin-top: 15px;">
      <mat-grid-tile *ngFor="let imm of immobili" >
        <mat-card class="cards" (click)="OpenImmobile(imm.id)">
          <img mat-card-image [src]="this.images[imm.id]" class="matCardImg">
          <mat-card-footer>
            <mat-card-title>{{imm.nome}}</mat-card-title>
            <mat-card-subtitle>{{imm.indirizzo}}</mat-card-subtitle>
            <mat-card-title>{{imm.prezzo_attuale}}€</mat-card-title>
          </mat-card-footer>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </ng-template>
</body>




