<body class="home">

  <!--LOGO-->
  <div class="logo-container">
    <img id="logo" src='.\assets\logo.png' alt="Foto logo">
    <h1><b><i>Comincia anche tu a Comprare e Vendere Immobili!</i></b></h1>
  </div>

  <!--FILTRI-->
  <form class="formRicerca" [formGroup]="formFiltri" (ngSubmit)="onSubmit()">
    <div class="filtri">
      <select class="sx" formControlName="tipo">
        <option value="" disabled selected>Proprieta:</option>
        <option value="Villa">Villa</option>
        <option value="Appartamento">Appartamento</option>
        <option value="Garage">Garage</option>
        <option value="Terreno">Terreno</option>
        <option value="Negozi">Negozi</option>
        <option value="Uffici">Uffici</option>
      </select>
      <select class="dx" formControlName="tipoAnnuncio">
        <option value="" disabled selected>Tipo:</option>
        <option value="in_vendita">In vendita</option>
        <option value="in_affitto">In affitto</option>
        <option value="asta">Asta</option>
      </select>
    </div>

    <mat-form-field class="barra" appearance="outline" formControlName="citta">
      <mat-label>Inserisci la città...</mat-label>
      <input matInput #message maxlength="256" placeholder="Es. Cosenza">
    </mat-form-field>

    <div>
      <button class="searchbutton" type="submit">
        Cerca
      </button>
    </div>

  </form>

  <br>
  <mat-divider></mat-divider>
  <br>

  <!--SELECT PER ORDINAMENTO-->
  <div class="ordina">
    <select type="submit"> <!--non so se funziona così controllare, altrimenti aggiungere al form-->
      <option value="automatico">Automatico</option>
      <option value="più_costosi">Più costosi</option>
      <option value="meno_costosi">Meno costosi</option>
      <option value="più_grandi">Più grandi</option>
      <option value="meno_grandi">Meno grandi</option>
    </select>
  </div>

  <br>

  <!--ANNUNCI-->
  <ng-template *ngIf="!Mobile(); then bloccoIf else bloccoElse"> //*ngIf="isAuthenticated()"// </ng-template>
    <ng-template #bloccoIf>
      <mat-grid-list cols="3" rowHeight="500px" gutterSize="10px">
        <mat-grid-tile *ngFor="let imm of immobili" >
          <mat-card class="cards" (click)="cliccato(imm.id)">
            <mat-card-header>
              <img mat-card-avatar src="./assets/background.jpg" alt="Foto di una casa">
              <mat-card-title>{{imm.nome}}</mat-card-title>
              <mat-card-subtitle>{{imm.indirizzo}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="./assets/background.jpg" alt="Foto di una casa">

            <mat-card-actions>
              <button mat-fab extended style="background-color:#259be2; color: white;">
                <mat-icon>shop_two</mat-icon>
                Visualizza Annuncio
              </button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </ng-template>

    <ng-template #bloccoElse>
      <mat-grid-list cols="1" rowHeight="420px" gutterSize="10px">
        <mat-grid-tile *ngFor="let imm of immobili" >
          <mat-card class="cards" (click)="cliccato(imm.id)">
            <mat-card-header>
              <img mat-card-avatar src="./assets/background.jpg" alt="Foto di una casa">
              <mat-card-title>{{imm.nome}}</mat-card-title>
              <mat-card-subtitle>{{imm.indirizzo}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="./assets/background.jpg" alt="Foto di una casa">
            <mat-card-actions>
              <button mat-fab extended style="background-color:#259be2; color: white;">
                <mat-icon>shop_two</mat-icon>
                Visualizza Annuncio
              </button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </ng-template>


</body>




