<!--
<body class="sfondo">

  <form class="example-form">

    <div class="titolo">
      <h1>Registrati</h1>
    </div>



    <br>
    <br>
    <table class="example-full-width" cellspacing="0"><tr>
      <mat-form-field class="example-full-width">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Es. Simone">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Cognome</mat-label>
        <input matInput placeholder="Es. Barbato">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Codice Fiscale</mat-label>
        <input matInput placeholder="Es. Barbato">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Telefono</mat-label>
        <input matInput placeholder="Es. Cosenza">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Ruolo</mat-label>
        <input matInput placeholder="Es. Calabria">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Es. Calabria">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Es. Calabria">
      </mat-form-field>
    </tr></table>

    <br>
      <div class="titolo">
        <button class="bottone" mat-fab extended color="primary">
          <mat-icon>app_registration</mat-icon>
          Registrati
        </button>
      </div>

      <br>
      <div>
        <p> Hai un account? <a class="link" mat-button routerLink="login" [routerLinkActive]="'active'" style="color: blue;">Accedi</a></p>
      </div>

  </form>
</body>
-->
<body>
  <form class="cover" [formGroup]="formAggiungi" (ngSubmit)="onSubmit()">

    <div class="profilo">
      <br>
      <h2>Registrati</h2>
      <div class="box">

          <label>Nome:</label>
          <input type="text" placeholder="inserisci il tuo nome" formControlName="nome"><br><br>
          <label>Cognome:</label>
          <input type="text" placeholder="inserisci il tuo cognome" formControlName="cognome"><br><br>
          <label>Codice Fiscale:</label>
          <input type="text" placeholder="inserisci il tuo codice fiscale" formControlName="id"><br><br>
          <label>Telefono:</label>
          <input type="text" placeholder="inserisci il tuo numero" formControlName="telefono"><br><br>


          <label>Email:</label>
          <input type="text" placeholder="inserisci la tua Email" formControlName="email"/><br><br>
          <label>Password:</label>
          <input type="password" placeholder="inserisci la tua Password" formControlName="password"/><br><br>
          <label>Ripeti Password:</label>
          <input type="password" placeholder="ripeti la tua Password" /><br><br>

          <label>Ruolo:</label>
          <select formControlName="ruolo">
              <option value="acquirente">Acquirente</option>
              <option value="venditore">Venditore</option>
              <option value="amministratore">Amministratore</option>
          </select><br>

          <!--
          <div style="visibility: hidden">
              <label>Inserisci codice amministratore: </label>
              <input type="text" id="idCodAmmi">
          </div>
          -->
          <br>
          <div class="titolo">
            <button class="bottone" mat-fab extended>
              <mat-icon>app_registration</mat-icon>
              Registrati
            </button>
          </div>
      </div>
      <br>
    </div>

  </form>
</body>

