<body class="sfondo">

  <form class="example-form">

    <div class="titolo">
      <h1>Registrati</h1>
    </div>

     <!-- nome, cognome, CF, email, telefono, ruolo, password-->

    <br>
    <br>
    <table class="example-full-width" cellspacing="0"><tr>
      <mat-form-field class="example-full-width">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Es. Simone">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Cognome</mat-label>
        <input matInput placeholder="Es. Barbato">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Codice Fiscale</mat-label>
        <input matInput placeholder="Es. Barbato">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Telefono</mat-label>
        <input matInput placeholder="Es. Cosenza">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Ruolo</mat-label>
        <input matInput placeholder="Es. Calabria">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Es. Calabria">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Es. Calabria">
      </mat-form-field>
    </tr></table>

    <br>
      <div class="titolo">
        <button class="bottone" mat-fab extended color="primary">
          <mat-icon>app_registration</mat-icon>
          Registrati
        </button>
      </div>

      <!--<br>
      <div>
        <p> Hai un account? <a class="link" mat-button routerLink="login" [routerLinkActive]="'active'" style="color: blue;">Accedi</a></p>
      </div>-->

  </form>
</body>
