<body>
<div class="container">
  <div style="text-align:center;">
    <h2>Inserisci annuncio</h2>
  </div>
  <form class="AddImmobileForm" [formGroup]="formAggiungi" (ngSubmit)="onSubmit()">
    <input type="text" formControlName="titolo" id="title" placeholder="Titolo" required>
    <select id="type" formControlName="tipo" required>
      <option value="Villa">Villa</option>
      <option value="Appartamento">Appartamento</option>
      <option value="Attico">Attico</option>
      <option value="Mansarda">Mansarda</option>
      <option value="Garage">Garage</option>
      <option value="Ufficio">Ufficio</option>
      <option value="Terreno">Terreno</option>
    </select>
    <select [(ngModel)]="selectedValue" (ngModelChange)="onSelected()" id="type2" formControlName="tipo_annuncio" required>
      <option value="In_Affitto">In Affitto</option>
      <option value="In_Vendita">In Vendita</option>
      <option value="Asta">Asta</option>
    </select>

    <input type="time" id="time" formControlName="citta" placeholder="Città" required>
    <input type="text" id="city" formControlName="citta" placeholder="Città" required>
    <textarea id="description" formControlName="descrizione" placeholder="Descrizione" required></textarea>
    <input type="number" id="sqm" formControlName="superficie" placeholder="Metri Quadri" required>
    <input type="number" id="price" formControlName="prezzo" placeholder="Prezzo" required>
    <input type="file" id="image" formControlName="foto" accept="image/*" multiple>
    <button type="submit">Aggiungi annuncio</button>
  </form>
</div>
</body>
