<body>

  <div class="container">

  <form class="example-form">
    <!--
    <div class="titolo">
      <h1>Accedi</h1>
    </div>

    <br>
    <br>
    <table class="example-full-width" cellspacing="0"><tr>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Es. simoneBarbato@gmail.com">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Inserisci la Password">
      </mat-form-field>
    </tr></table>

  -->

  <div class="cover">
    <form #loginform="ngForm" (ngSubmit)="onSubmit(loginform)">
        <h1>Accedi</h1>
       
        
        <div class="box">

            <label>Email:</label>
            <input matInput type="email" placeholder="inserisci la tua Email" name="email" required ngModel><br><br>

            <label>Password:</label>
            <input matInput type="password" placeholder="inserisci la tua Password" name="password" required ngModel><br><br>
        </div>

        <p id="idErrore"  style="color: red; visibility: hidden">L'email o la password non sono valide</p>

        <div class="titolo">
          <button class="bottone" mat-fab extended color="primary">
            <mat-icon>login</mat-icon>
            Accedi
          </button>
        </div>
        <br>

        <a href ="passwordDimenticata.html" style="color: #2596be;">Password Dimenticata</a><br>
        <label>Non ho un account</label>
        <a href="registrazione" style="color: #2596be;">Registrati</a>

    </form>
  </div>

      <!--<br>
      <div>
        <p> Non hai un account? <a class="link" mat-button routerLink="registrazione" [routerLinkActive]="'active'" style="color: blue;">Registrati</a></p>
      </div> -->

  </form>
</div>
</body>
