<!-- profilo.component.html -->
<body>
  <div class="profilo">
    <br>
    <div>
      <h1>Profilo Utente</h1>
    </div>
    <div class="dati">
      <p class="profilo-item">
        <strong>Nome:</strong>
        <span>{{ nome }}</span>
      </p>
      <p class="profilo-item">
        <strong>Cognome:</strong>
        <span>{{ cognome }}</span>
      </p>
      <p class="profilo-item">
        <strong>Email:</strong>
        <span>{{ email }}</span>
      </p>
      <p class="profilo-item">
        <strong>Indirizzo:</strong>
        <span>{{ indirizzo }}</span>
      </p>
      <p class="profilo-item">
        <strong>Città:</strong>
        <span>{{ citta }}</span>
      </p>
      <p class="profilo-item">
        <strong>Regione:</strong>
        <span>{{ regione }}</span>
      </p>
    </div>
    <br>
  </div>
</body>

