<!-- profilo.component.html -->
<body>
  <div class="profilo">
    <br>
    <div>
      <h1>Profilo Utente</h1>
    </div>
    <div class="dati">
      <p class="profilo-item">
        <strong>Nome: </strong>
        <span>{{ utente.nome }}</span>
      </p>
      <p class="profilo-item">
        <strong>Cognome: </strong>
        <span>{{ utente.cognome }}</span>
      </p>
      <p class="profilo-item">
        <strong>Email: </strong>
        <span>{{ utente.email }}</span>
      </p>
      <p class="profilo-item">
        <strong>Telefono: </strong>
        <span>{{ utente.telefono }}</span>
      </p>
      <p class="profilo-item">
        <strong>Tipologia: </strong>
        <span>{{ utente.tipologia }}</span>
      </p>
    </div>
    <br>
  </div>
</body>

