<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registrati!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/Registrazione.css}">
</head>
<body>
<div class="container">
    <div style="text-align:center;">
        <h2>Registrati</h2>
    </div>
    <div th:if="${errorMessage}" class="error-message">
        <div class="error-logo"></div>
        <p th:text="${errorMessage}"></p>
    </div>
    <div th:if="${successMessage}" class="success-message">
        <div class="success-logo"></div>
        <p th:text="${successMessage}"></p>
    </div>
    <form class="form" th:unless="${successMessage}" th:action="@{/doRegistration}" method="post">
        <input type="text" id="name" name="name" placeholder="Nome" required>
        <input type="text" id="surname" name="surname" placeholder="Cognome" required>
        <input type="text" id="cf" name="cf" placeholder="Codice Fiscale" required>
        <input type="email" id="email" name="email" placeholder="Email" required>
        <input type="tel" id="phone" name="phone" placeholder="Telefono" required>
        <select id="role" name="role" required>
            <option value="">Seleziona</option>
            <option value="seller">Venditore</option>
            <option value="buyer">Acquirente</option>
        </select>
        <input type="password" id="password" name="password" placeholder="Password" required>
        <button type="submit">Registrati</button>
        <button type="button" onclick="window.location.href='http://localhost:4200/home';">Torna alla home</button>
    </form>
    <button id="loginButton" th:if="${successMessage}" type="button" onclick="window.location.href='http://localhost:8080/login';">Vai al login</button>
</div>
</body>
</html>