<div class="statica">
  <div class="titolo">
    <h1><strong>Chi Siamo</strong></h1>
  </div>
  <h3>Siamo uno dei principali portali immobiliari in Italia. Il nostro sito web offre una vasta gamma di annunci immobiliari
      di case, appartamenti, ville, terreni, uffici e negozi, presentati in modo organizzato e facile da consultare.</h3>

  <h3>Gli annunci sono pubblicati da agenzie immobiliari, privati e costruttori, garantendo una vasta scelta di proprietà e
      prezzi per ogni esigenza. <br>
      Il sito web permette agli utenti di cercare proprietà in base a diversi filtri di ricerca, come la tipologia di immobile,
      la zona geografica, il prezzo, la metratura e altri parametri, rendendo la ricerca di una casa facile e veloce.</h3>

  <h3>Gli utenti possono anche salvare gli annunci preferiti, creare alert per ricevere notifiche sui nuovi annunci corrispondenti
      ai propri criteri di ricerca, e contattare direttamente gli inserzionisti tramite il sito web.</h3>

  <h3>Inoltre, offriamo un'ampia gamma di servizi per gli agenti immobiliari, tra cui la possibilità di pubblicare annunci
      premium per aumentare la visibilità delle loro proprietà e di gestire la propria attività immobiliare in modo efficiente.</h3>

  <h3>Il sito web è stato fondato nel 2023 ed è cresciuto rapidamente diventando uno dei portali immobiliari più popolari in Italia.
      Oggi, nostro opera in diversi paesi del mondo nel settore dei servizi immobiliari.</h3>

</div>
