* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    padding: 10px;
    backdrop-filter: blur(3px);
}

.container {
    width: 100%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 20px;
}

.form input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form button {
    margin-top: 10px;
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.form select {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    color: #757575;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.error-message {
    background-color:rgba(255, 255, 255, 0.681);
    border: 2px solid #007bff;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.error-message p {
    margin: 0;
}

.error-logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 48px;
    height: 48px;
    background-image: url("../img/error-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
}

@media (max-width: 480px) {
    .container {
        padding: 15px;
    }
}