<div class="statica">
  <div class="titolo">
    <h1><strong>Benvenuti nel nostro sito di compravendita di Immobili</strong></h1>

    <h2>Effetua il login per usufruire delle funzionalità</h2>
  </div>
  <nav class="corpo">
      <h2><strong>Puoi effettuare il login come:</strong></h2>
      <ul>
          <li>
              <h2>Acquirente</h2>
              <ul>
                  <li>Possono effettuare una ricerca di immobili, che può avvenire filtrando per:
                      <ul>
                          <li>Acquisto/Vendita</li>
                          <li>Tipologia di immobile: appartamento, villa, ecc…</li>
                      </ul>
                  <li>È possibile ordinare gli immobili per prezzo e/o metri quadri</li>
                  <li>Se l’acquirente ha visitato l’immobile può scrivere recensioni su di esso</li>
                  <li>Possono contattare il venditore direttamente dalla pagina compilando un form</li>
              </ul>
          </li>

          <br>

          <li>
              <h2>Venditore</h2>
              <ul>
                  <li> Possono creare, modificare, cancellare annunci</li>
                  <li> Dato un annuncio, i venditori possono ribassare il prezzo: in tal caso il vecchio prezzo sarà barrato e verrà mostrato il nuovo prezzo</li>
                  <li> Possibilità di essere contattati: si aprirà un modulo di contatto avente come oggetto il codice e il titolo dell’annuncio</li>
                  <li> E’ possibile creare delle aste per gli annunci</li>
                  <li> Il venditore può promuovere i propri annunci in una pagina Facebook tramite API</li>
              </ul>
          </li>

          <br>

          <li>
              <h2>Amministratore</h2>
              <ul>
                  <li>Può modificare/cancellare tutto</li>
                  <li>Può bannare utenti</li>
                  <li>Può nominare altri utenti come amministratori</li>
              </ul>
          </li>
      </ul>
  </nav>
</div>
